# Hand-off waste calculation

## Pre-processing: grouping traces by case ID

In [65]:
import pandas as pd
from pm4py.objects.conversion.log import converter as log_converter
from pm4py.objects.log.importer.xes import importer as xes_importer

# log = xes_importer.apply('data/PurchasingExample.xes')
log = xes_importer.apply('data/PurchasingExampleModified.xes')
event_log = log_converter.apply(log, variant=log_converter.Variants.TO_DATA_FRAME)
event_log_by_case = event_log.groupby(by='case:concept:name')

parsing log, completed traces ::   0%|          | 0/608 [00:00<?, ?it/s]

Case IDs:

In [64]:
event_log_by_case.groups.keys()

dict_keys(['1', '10', '100', '1004', '1008', '1009', '101', '1011', '1015', '1018', '102', '1020', '1021', '1022', '1023', '1025', '103', '1031', '1033', '1035', '104', '1041', '1042', '1044', '1047', '1048', '1052', '1057', '106', '1060', '1063', '1065', '1066', '1068', '107', '1079', '1080', '1085', '1088', '109', '1090', '1094', '11', '110', '1104', '111', '1111', '1114', '1116', '1118', '112', '1123', '1128', '1141', '1144', '1146', '115', '1151', '1153', '1158', '1160', '1161', '117', '1177', '1178', '1179', '118', '1182', '1184', '1187', '119', '1191', '1192', '1197', '1198', '12', '120', '1212', '1214', '1215', '122', '1220', '1225', '1227', '123', '124', '1242', '125', '1255', '1259', '127', '128', '1282', '1284', '1287', '129', '1290', '1294', '1298', '1299', '13', '1300', '1305', '1308', '1309', '1310', '132', '1328', '133', '1337', '1338', '134', '1347', '135', '1353', '1358', '136', '1360', '1361', '1362', '1366', '1367', '1368', '137', '1375', '1377', '1378', '138', '1380', '1386', '1387', '1388', '139', '1394', '1395', '14', '140', '1404', '141', '1417', '142', '1420', '1422', '143', '1439', '144', '1448', '145', '1452', '1457', '1458', '146', '1463', '147', '1476', '1477', '1488', '149', '1499', '15', '150', '1500', '1506', '151', '1511', '152', '153', '154', '1547', '155', '1558', '156', '157', '158', '1584', '1585', '159', '1592', '1596', '16', '160', '1613', '162', '1624', '1626', '164', '1682', '169', '17', '170', '171', '172', '1722', '1725', '1749', '175', '1759', '176', '1770', '1773', '1789', '179', '1796', '18', '180', '1817', '182', '183', '185', '1852', '1857', '186', '1871', '1873', '1874', '188', '189', '1892', '19', '1909', '191', '1917', '192', '1920', '1929', '193', '1938', '1941', '1949', '195', '197', '199', '2', '20', '200', '204', '205', '206', '207', '209', '21', '210', '211', '214', '216', '217', '22', '220', '221', '222', '223', '224', '226', '227', '229', '23', '230', '232', '233', '235', '236', '237', '24', '242', '245', '247', '248', '249', '25', '250', '251', '252', '254', '257', '258', '259', '26', '260', '263', '266', '268', '269', '27', '270', '272', '273', '275', '278', '279', '28', '280', '281', '282', '283', '284', '286', '287', '288', '29', '290', '291', '293', '294', '295', '296', '3', '30', '303', '306', '307', '308', '309', '31', '310', '311', '314', '316', '318', '319', '32', '325', '326', '327', '329', '33', '330', '334', '335', '339', '34', '340', '343', '344', '349', '35', '352', '36', '361', '362', '363', '367', '368', '37', '370', '371', '372', '374', '375', '376', '38', '380', '381', '383', '384', '386', '387', '389', '39', '391', '393', '396', '397', '398', '4', '40', '400', '401', '404', '405', '408', '41', '411', '413', '414', '418', '419', '42', '423', '424', '425', '43', '431', '434', '437', '438', '44', '446', '448', '449', '45', '450', '452', '457', '458', '459', '46', '461', '462', '467', '47', '470', '48', '486', '487', '489', '49', '492', '497', '5', '50', '504', '505', '51', '515', '519', '52', '522', '525', '53', '537', '538', '54', '544', '547', '549', '55', '551', '553', '556', '559', '56', '560', '563', '564', '565', '57', '572', '573', '575', '58', '582', '59', '595', '596', '598', '6', '606', '61', '611', '612', '613', '615', '616', '618', '619', '62', '620', '622', '623', '627', '63', '632', '633', '635', '637', '64', '642', '644', '645', '649', '65', '650', '651', '654', '655', '656', '66', '660', '665', '67', '671', '672', '673', '674', '676', '68', '680', '683', '686', '689', '69', '690', '692', '693', '696', '7', '70', '703', '704', '705', '707', '71', '713', '714', '716', '72', '720', '725', '726', '73', '730', '731', '733', '734', '735', '736', '739', '74', '740', '744', '748', '749', '75', '751', '753', '754', '755', '756', '76', '761', '77', '770', '78', '789', '79', '791', '793', '8', '80', '809', '81', '812', '816', '818', '819', '82', '822', '826', '827', '83', '832', '835', '837', '839', '84', '841', '844', '846', '85', '851', '855', '856', '858', '86', '860', '861', '862', '87', '872', '874', '875', '877', '881', '888', '889', '89', '892', '896', '9', '904', '906', '909', '91', '911', '914', '915', '92', '921', '927', '929', '93', '931', '935', '94', '940', '948', '949', '950', '96', '972', '975', '976', '98', '981', '988', '99', '993', '997'])

Case 10

In [68]:
case = event_log_by_case.get_group('10')
case = case.sort_values(by='time:timestamp')
case[['Activity', 'Resource', 'time:timestamp', 'lifecycle:transition']]

,concept:name,lifecycle:transition,org:resource,time:timestamp,Activity,Resource,case:concept:name,case:variant,case:variant-index,case:creator
344,Create Purchase Requisition,start,Esmana Liubiata,2011-01-02 02:52:00-05:00,Create Purchase Requisition,Esmana Liubiata,10,Variant 9,9,Fluxicon Disco
345,Create Purchase Requisition,complete,Esmana Liubiata,2011-01-02 03:43:00-05:00,Create Purchase Requisition,Esmana Liubiata,10,Variant 9,9,Fluxicon Disco
346,Create Request for Quotation,start,Immanuel Karagianni,2011-01-02 10:25:00-05:00,Create Request for Quotation,Immanuel Karagianni,10,Variant 9,9,Fluxicon Disco
347,Create Request for Quotation,complete,Immanuel Karagianni,2011-01-02 10:32:00-05:00,Create Request for Quotation,Immanuel Karagianni,10,Variant 9,9,Fluxicon Disco
348,Create Purchase Requisition,start,Esmana Liubiata,2011-01-02 10:40:00-05:00,Create Purchase Requisition,Esmana Liubiata,10,Variant 9,9,Fluxicon Disco
349,Create Purchase Requisition,complete,Esmana Liubiata,2011-01-02 11:40:00-05:00,Create Purchase Requisition,Esmana Liubiata,10,Variant 9,9,Fluxicon Disco
350,Analyze Request for Quotation,start,Francois de Perrier,2011-01-02 15:32:00-05:00,Analyze Request for Quotation,Francois de Perrier,10,Variant 9,9,Fluxicon Disco
351,Analyze Request for Quotation,complete,Francois de Perrier,2011-01-02 15:59:00-05:00,Analyze Request for Quotation,Francois de Perrier,10,Variant 9,9,Fluxicon Disco
352,Send Request for Quotation to Supplier,start,Karel de Groot,2011-01-03 12:50:00-05:00,Send Request for Quotation to Supplier,Karel de Groot,10,Variant 9,9,Fluxicon Disco
353,Send Request for Quotation to Supplier,complete,Karel de Groot,2011-01-03 13:07:00-05:00,Send Request for Quotation to Supplier,Karel de Groot,10,Variant 9,9,Fluxicon Disco
354,Create Quotation comparison Map,start,Karel de Groot,2011-01-03 13:31:00-05:00,Create Quotation comparison Map,Karel de Groot,10,Variant 9,9,Fluxicon Disco
355,Create Quotation comparison Map,complete,Karel de Groot,2011-01-03 14:28:00-05:00,Create Quotation comparison Map,Karel de Groot,10,Variant 9,9,Fluxicon Disco
356,Analyze Quotation Comparison Map,start,Anna Kaufmann,2011-01-03 21:44:00-05:00,Analyze Quotation Comparison Map,Anna Kaufmann,10,Variant 9,9,Fluxicon Disco
357,Analyze Quotation Comparison Map,complete,Anna Kaufmann,2011-01-03 22:05:00-05:00,Analyze Quotation Comparison Map,Anna Kaufmann,10,Variant 9,9,Fluxicon Disco
358,Choose best option,start,Nico Ojenbeer,2011-01-03 22:05:00-05:00,Choose best option,Nico Ojenbeer,10,Variant 9,9,Fluxicon Disco
359,Choose best option,complete,Nico Ojenbeer,2011-01-03 22:05:00-05:00,Choose best option,Nico Ojenbeer,10,Variant 9,9,Fluxicon Disco
360,Settle Conditions With Supplier,start,Karel de Groot,2011-01-03 23:53:00-05:00,Settle Conditions With Supplier,Karel de Groot,10,Variant 9,9,Fluxicon Disco
361,Settle Conditions With Supplier,complete,Karel de Groot,2011-01-04 04:31:00-05:00,Settle Conditions With Supplier,Karel de Groot,10,Variant 9,9,Fluxicon Disco
362,Create Purchase Order,start,Karel de Groot,2011-01-04 09:44:00-05:00,Create Purchase Order,Karel de Groot,10,Variant 9,9,Fluxicon Disco
363,Create Purchase Order,complete,Karel de Groot,2011-01-04 09:52:00-05:00,Create Purchase Order,Karel de Groot,10,Variant 9,9,Fluxicon Disco
364,Confirm Purchase Order,start,Carmen Finacse,2011-01-05 02:49:00-05:00,Confirm Purchase Order,Carmen Finacse,10,Variant 9,9,Fluxicon Disco
365,Confirm Purchase Order,complete,Carmen Finacse,2011-01-05 02:58:00-05:00,Confirm Purchase Order,Carmen Finacse,10,Variant 9,9,Fluxicon Disco
366,Deliver Goods Services,start,Kiu Kan,2011-01-05 11:48:00-05:00,Deliver Goods Services,Kiu Kan,10,Variant 9,9,Fluxicon Disco
367,Deliver Goods Services,complete,Kiu Kan,2011-01-07 01:19:00-05:00,Deliver Goods Services,Kiu Kan,10,Variant 9,9,Fluxicon Disco
368,Release Purchase Order,start,Tesca Lobes,2011-01-07 08:54:00-05:00,Release Purchase Order,Tesca Lobes,10,Variant 9,9,Fluxicon Disco
369,Release Purchase Order,complete,Tesca Lobes,2011-01-07 08:55:00-05:00,Release Purchase Order,Tesca Lobes,10,Variant 9,9,Fluxicon Disco
370,Approve Purchase Order for payment,start,Karel de Groot,2011-01-09 02:55:00-05:00,Approve Purchase Order for payment,Karel de Groot,10,Variant 9,9,Fluxicon Disco
371,Approve Purchase Order for payment,complete,Karel de Groot,2011-01-09 02:56:00-05:00,Approve Purchase Order for payment,Karel de Groot,10,Variant 9,9,Fluxicon Disco
373,Send Invoice,complete,Karen Clarens,2011-01-10 00:23:00-05:00,Send Invoice,Karen Clarens,10,Variant 9,9,Fluxicon Disco
372,Send Invoice,start,Karen Clarens,2011-01-10 00:23:00-05:00,Send Invoice,Karen Clarens,10,Variant 9,9,Fluxicon Disco
374,Release Supplier's Invoice,start,Karalda Nimwada,2011-01-10 14:45:00-05:00,Release Supplier's Invoice,Karalda Nimwada,10,Variant 9,9,Fluxicon Disco
375,Release Supplier's Invoice,complete,Karalda Nimwada,2011-01-10 14:48:00-05:00,Release Supplier's Invoice,Karalda Nimwada,10,Variant 9,9,Fluxicon Disco
376,Settle Dispute With Supplier,start,Karalda Nimwada,2011-01-10 15:09:00-05:00,Settle Dispute With Supplier,Karalda Nimwada,10,Variant 9,9,Fluxicon Disco
377,Settle Dispute With Supplier,complete,Karalda Nimwada,2011-01-10 15:34:00-05:00,Settle Dispute With Supplier,Karalda Nimwada,10,Variant 9,9,Fluxicon Disco
378,Authorize Supplier's Invoice payment,start,Karalda Nimwada,2011-01-10 15:43:00-05:00,Authorize Supplier's Invoice payment,Karalda Nimwada,10,Variant 9,9,Fluxicon Disco
379,Authorize Supplier's Invoice payment,complete,Karalda Nimwada,2011-01-10 15:43:00-05:00,Authorize Supplier's Invoice payment,Karalda Nimwada,10,Variant 9,9,Fluxicon Disco
380,Pay Invoice,start,Pedro Alvares,2011-01-10 16:03:00-05:00,Pay Invoice,Pedro Alvares,10,Variant 9,9,Fluxicon Disco
381,Pay Invoice,complete,Pedro Alvares,2011-01-10 16:16:00-05:00,Pay Invoice,Pedro Alvares,10,Variant 9,9,Fluxicon Disco

## Handoff Identification (lifecycle log)

In [70]:
resource_changed = case['Resource'] != case.shift(-1)['Resource']
activity_changed = case['Activity'] != case.shift(-1)['Activity']

# because of NaN at the end of the shifted dataframe, we always have True
resource_changed.iloc[-1] = False
activity_changed.iloc[-1] = False

# both conditions must be satisfied
handoff_occurred = resource_changed & activity_changed

case['handoff_occurred'] = handoff_occurred
case[['case:concept:name', 'lifecycle:transition', 'Activity', 'Resource', 'handoff_occurred']]

# TODO: sequential events
#   - identical dates
#   - parallel gateways (enabled timestamp)
#   - modify event log to create a parallel or overlapping activity by time

,case:concept:name,lifecycle:transition,Activity,Resource,handoff_occurred
344,10,start,Create Purchase Requisition,Esmana Liubiata,False
345,10,complete,Create Purchase Requisition,Esmana Liubiata,True
346,10,start,Create Request for Quotation,Immanuel Karagianni,False
347,10,complete,Create Request for Quotation,Immanuel Karagianni,True
348,10,start,Create Purchase Requisition,Esmana Liubiata,False
349,10,complete,Create Purchase Requisition,Esmana Liubiata,True
350,10,start,Analyze Request for Quotation,Francois de Perrier,False
351,10,complete,Analyze Request for Quotation,Francois de Perrier,True
352,10,start,Send Request for Quotation to Supplier,Karel de Groot,False
353,10,complete,Send Request for Quotation to Supplier,Karel de Groot,False
354,10,start,Create Quotation comparison Map,Karel de Groot,False
355,10,complete,Create Quotation comparison Map,Karel de Groot,True
356,10,start,Analyze Quotation Comparison Map,Anna Kaufmann,False
357,10,complete,Analyze Quotation Comparison Map,Anna Kaufmann,True
358,10,start,Choose best option,Nico Ojenbeer,False
359,10,complete,Choose best option,Nico Ojenbeer,True
360,10,start,Settle Conditions With Supplier,Karel de Groot,False
361,10,complete,Settle Conditions With Supplier,Karel de Groot,False
362,10,start,Create Purchase Order,Karel de Groot,False
363,10,complete,Create Purchase Order,Karel de Groot,True
364,10,start,Confirm Purchase Order,Carmen Finacse,False
365,10,complete,Confirm Purchase Order,Carmen Finacse,True
366,10,start,Deliver Goods Services,Kiu Kan,False
367,10,complete,Deliver Goods Services,Kiu Kan,True
368,10,start,Release Purchase Order,Tesca Lobes,False
369,10,complete,Release Purchase Order,Tesca Lobes,True
370,10,start,Approve Purchase Order for payment,Karel de Groot,False
371,10,complete,Approve Purchase Order for payment,Karel de Groot,True
373,10,complete,Send Invoice,Karen Clarens,False
372,10,start,Send Invoice,Karen Clarens,True
374,10,start,Release Supplier's Invoice,Karalda Nimwada,False
375,10,complete,Release Supplier's Invoice,Karalda Nimwada,False
376,10,start,Settle Dispute With Supplier,Karalda Nimwada,False
377,10,complete,Settle Dispute With Supplier,Karalda Nimwada,False
378,10,start,Authorize Supplier's Invoice payment,Karalda Nimwada,False
379,10,complete,Authorize Supplier's Invoice payment,Karalda Nimwada,True
380,10,start,Pay Invoice,Pedro Alvares,False
381,10,complete,Pay Invoice,Pedro Alvares,False

## Handoff Frequency

In [139]:
case.loc[case['handoff_occurred'] == True, 'handoff_frequency'] = 1
case[['case:concept:name', 'Activity', 'Resource', 'handoff_occurred', 'handoff_frequency']]

,case:concept:name,Activity,Resource,handoff_occurred,handoff_frequency
344,10,Create Purchase Requisition,Esmana Liubiata,False,NaN
345,10,Create Purchase Requisition,Esmana Liubiata,True,1.0
346,10,Create Request for Quotation,Immanuel Karagianni,False,NaN
347,10,Create Request for Quotation,Immanuel Karagianni,True,1.0
348,10,Create Purchase Requisition,Esmana Liubiata,False,NaN
349,10,Create Purchase Requisition,Esmana Liubiata,True,1.0
350,10,Analyze Request for Quotation,Francois de Perrier,False,NaN
351,10,Analyze Request for Quotation,Francois de Perrier,True,1.0
352,10,Send Request for Quotation to Supplier,Karel de Groot,False,NaN
353,10,Send Request for Quotation to Supplier,Karel de Groot,False,NaN
354,10,Create Quotation comparison Map,Karel de Groot,False,NaN
355,10,Create Quotation comparison Map,Karel de Groot,True,1.0
356,10,Analyze Quotation Comparison Map,Anna Kaufmann,False,NaN
357,10,Analyze Quotation Comparison Map,Anna Kaufmann,True,1.0
358,10,Choose best option,Nico Ojenbeer,False,NaN
359,10,Choose best option,Nico Ojenbeer,True,1.0
360,10,Settle Conditions With Supplier,Karel de Groot,False,NaN
361,10,Settle Conditions With Supplier,Karel de Groot,False,NaN
362,10,Create Purchase Order,Karel de Groot,False,NaN
363,10,Create Purchase Order,Karel de Groot,True,1.0
364,10,Confirm Purchase Order,Carmen Finacse,False,NaN
365,10,Confirm Purchase Order,Carmen Finacse,True,1.0
366,10,Deliver Goods Services,Kiu Kan,False,NaN
367,10,Deliver Goods Services,Kiu Kan,True,1.0
368,10,Release Purchase Order,Tesca Lobes,False,NaN
369,10,Release Purchase Order,Tesca Lobes,True,1.0
370,10,Approve Purchase Order for payment,Karel de Groot,False,NaN
371,10,Approve Purchase Order for payment,Karel de Groot,True,1.0
373,10,Send Invoice,Karen Clarens,False,NaN
372,10,Send Invoice,Karen Clarens,True,1.0
374,10,Release Supplier's Invoice,Karalda Nimwada,False,NaN
375,10,Release Supplier's Invoice,Karalda Nimwada,False,NaN
376,10,Settle Dispute With Supplier,Karalda Nimwada,False,NaN
377,10,Settle Dispute With Supplier,Karalda Nimwada,False,NaN
378,10,Authorize Supplier's Invoice payment,Karalda Nimwada,False,NaN
379,10,Authorize Supplier's Invoice payment,Karalda Nimwada,True,1.0
380,10,Pay Invoice,Pedro Alvares,False,NaN
381,10,Pay Invoice,Pedro Alvares,False,NaN

## Handoff Duration

In [140]:
handoff_start = case.loc[handoff_occurred, 'time:timestamp']
handoff_end = case.loc[handoff_occurred.shift(1, fill_value=False), 'time:timestamp']
case.loc[handoff_occurred, 'handoff_duration'] = handoff_end.values - handoff_start.values
case[['case:concept:name', 'Activity', 'Resource', 'handoff_occurred', 'handoff_frequency', 'handoff_duration']]

,case:concept:name,Activity,Resource,handoff_occurred,handoff_frequency,handoff_duration
344,10,Create Purchase Requisition,Esmana Liubiata,False,NaN,NaT
345,10,Create Purchase Requisition,Esmana Liubiata,True,1.0,0 days 06:42:00
346,10,Create Request for Quotation,Immanuel Karagianni,False,NaN,NaT
347,10,Create Request for Quotation,Immanuel Karagianni,True,1.0,0 days 00:08:00
348,10,Create Purchase Requisition,Esmana Liubiata,False,NaN,NaT
349,10,Create Purchase Requisition,Esmana Liubiata,True,1.0,0 days 03:52:00
350,10,Analyze Request for Quotation,Francois de Perrier,False,NaN,NaT
351,10,Analyze Request for Quotation,Francois de Perrier,True,1.0,0 days 20:51:00
352,10,Send Request for Quotation to Supplier,Karel de Groot,False,NaN,NaT
353,10,Send Request for Quotation to Supplier,Karel de Groot,False,NaN,NaT
354,10,Create Quotation comparison Map,Karel de Groot,False,NaN,NaT
355,10,Create Quotation comparison Map,Karel de Groot,True,1.0,0 days 07:16:00
356,10,Analyze Quotation Comparison Map,Anna Kaufmann,False,NaN,NaT
357,10,Analyze Quotation Comparison Map,Anna Kaufmann,True,1.0,0 days 00:00:00
358,10,Choose best option,Nico Ojenbeer,False,NaN,NaT
359,10,Choose best option,Nico Ojenbeer,True,1.0,0 days 01:48:00
360,10,Settle Conditions With Supplier,Karel de Groot,False,NaN,NaT
361,10,Settle Conditions With Supplier,Karel de Groot,False,NaN,NaT
362,10,Create Purchase Order,Karel de Groot,False,NaN,NaT
363,10,Create Purchase Order,Karel de Groot,True,1.0,0 days 16:57:00
364,10,Confirm Purchase Order,Carmen Finacse,False,NaN,NaT
365,10,Confirm Purchase Order,Carmen Finacse,True,1.0,0 days 08:50:00
366,10,Deliver Goods Services,Kiu Kan,False,NaN,NaT
367,10,Deliver Goods Services,Kiu Kan,True,1.0,0 days 07:35:00
368,10,Release Purchase Order,Tesca Lobes,False,NaN,NaT
369,10,Release Purchase Order,Tesca Lobes,True,1.0,1 days 18:00:00
370,10,Approve Purchase Order for payment,Karel de Groot,False,NaN,NaT
371,10,Approve Purchase Order for payment,Karel de Groot,True,1.0,0 days 21:27:00
373,10,Send Invoice,Karen Clarens,False,NaN,NaT
372,10,Send Invoice,Karen Clarens,True,1.0,0 days 14:22:00
374,10,Release Supplier's Invoice,Karalda Nimwada,False,NaN,NaT
375,10,Release Supplier's Invoice,Karalda Nimwada,False,NaN,NaT
376,10,Settle Dispute With Supplier,Karalda Nimwada,False,NaN,NaT
377,10,Settle Dispute With Supplier,Karalda Nimwada,False,NaN,NaT
378,10,Authorize Supplier's Invoice payment,Karalda Nimwada,False,NaN,NaT
379,10,Authorize Supplier's Invoice payment,Karalda Nimwada,True,1.0,0 days 00:20:00
380,10,Pay Invoice,Pedro Alvares,False,NaN,NaT
381,10,Pay Invoice,Pedro Alvares,False,NaN,NaT

## Handoff Overall Score

In [141]:
case['handoff_score'] = case['handoff_duration'] * case['handoff_frequency']
case[['case:concept:name', 'Activity', 'Resource', 'handoff_occurred', 'handoff_frequency', 'handoff_duration', 'handoff_score']]

,case:concept:name,Activity,Resource,handoff_occurred,handoff_frequency,handoff_duration,handoff_score
344,10,Create Purchase Requisition,Esmana Liubiata,False,NaN,NaT,NaT
345,10,Create Purchase Requisition,Esmana Liubiata,True,1.0,0 days 06:42:00,0 days 06:42:00
346,10,Create Request for Quotation,Immanuel Karagianni,False,NaN,NaT,NaT
347,10,Create Request for Quotation,Immanuel Karagianni,True,1.0,0 days 00:08:00,0 days 00:08:00
348,10,Create Purchase Requisition,Esmana Liubiata,False,NaN,NaT,NaT
349,10,Create Purchase Requisition,Esmana Liubiata,True,1.0,0 days 03:52:00,0 days 03:52:00
350,10,Analyze Request for Quotation,Francois de Perrier,False,NaN,NaT,NaT
351,10,Analyze Request for Quotation,Francois de Perrier,True,1.0,0 days 20:51:00,0 days 20:51:00
352,10,Send Request for Quotation to Supplier,Karel de Groot,False,NaN,NaT,NaT
353,10,Send Request for Quotation to Supplier,Karel de Groot,False,NaN,NaT,NaT
354,10,Create Quotation comparison Map,Karel de Groot,False,NaN,NaT,NaT
355,10,Create Quotation comparison Map,Karel de Groot,True,1.0,0 days 07:16:00,0 days 07:16:00
356,10,Analyze Quotation Comparison Map,Anna Kaufmann,False,NaN,NaT,NaT
357,10,Analyze Quotation Comparison Map,Anna Kaufmann,True,1.0,0 days 00:00:00,0 days 00:00:00
358,10,Choose best option,Nico Ojenbeer,False,NaN,NaT,NaT
359,10,Choose best option,Nico Ojenbeer,True,1.0,0 days 01:48:00,0 days 01:48:00
360,10,Settle Conditions With Supplier,Karel de Groot,False,NaN,NaT,NaT
361,10,Settle Conditions With Supplier,Karel de Groot,False,NaN,NaT,NaT
362,10,Create Purchase Order,Karel de Groot,False,NaN,NaT,NaT
363,10,Create Purchase Order,Karel de Groot,True,1.0,0 days 16:57:00,0 days 16:57:00
364,10,Confirm Purchase Order,Carmen Finacse,False,NaN,NaT,NaT
365,10,Confirm Purchase Order,Carmen Finacse,True,1.0,0 days 08:50:00,0 days 08:50:00
366,10,Deliver Goods Services,Kiu Kan,False,NaN,NaT,NaT
367,10,Deliver Goods Services,Kiu Kan,True,1.0,0 days 07:35:00,0 days 07:35:00
368,10,Release Purchase Order,Tesca Lobes,False,NaN,NaT,NaT
369,10,Release Purchase Order,Tesca Lobes,True,1.0,1 days 18:00:00,1 days 18:00:00
370,10,Approve Purchase Order for payment,Karel de Groot,False,NaN,NaT,NaT
371,10,Approve Purchase Order for payment,Karel de Groot,True,1.0,0 days 21:27:00,0 days 21:27:00
373,10,Send Invoice,Karen Clarens,False,NaN,NaT,NaT
372,10,Send Invoice,Karen Clarens,True,1.0,0 days 14:22:00,0 days 14:22:00
374,10,Release Supplier's Invoice,Karalda Nimwada,False,NaN,NaT,NaT
375,10,Release Supplier's Invoice,Karalda Nimwada,False,NaN,NaT,NaT
376,10,Settle Dispute With Supplier,Karalda Nimwada,False,NaN,NaT,NaT
377,10,Settle Dispute With Supplier,Karalda Nimwada,False,NaN,NaT,NaT
378,10,Authorize Supplier's Invoice payment,Karalda Nimwada,False,NaN,NaT,NaT
379,10,Authorize Supplier's Invoice payment,Karalda Nimwada,True,1.0,0 days 00:20:00,0 days 00:20:00
380,10,Pay Invoice,Pedro Alvares,False,NaN,NaT,NaT
381,10,Pay Invoice,Pedro Alvares,False,NaN,NaT,NaT

## Handoff Reporting

In [143]:
for (activity, group) in case[case['handoff_score'].notna()].groupby(by='Activity'):
    score_per_activity = group['handoff_score'].sum()
    print(f'{activity}: \t{score_per_activity}')

Analyze Quotation Comparison Map: 	0 days 00:00:00
Analyze Request for Quotation: 	0 days 20:51:00
Approve Purchase Order for payment: 	0 days 21:27:00
Authorize Supplier's Invoice payment: 	0 days 00:20:00
Choose best option: 	0 days 01:48:00
Confirm Purchase Order: 	0 days 08:50:00
Create Purchase Order: 	0 days 16:57:00
Create Purchase Requisition: 	0 days 10:34:00
Create Quotation comparison Map: 	0 days 07:16:00
Create Request for Quotation: 	0 days 00:08:00
Deliver Goods Services: 	0 days 07:35:00
Release Purchase Order: 	1 days 18:00:00
Send Invoice: 	0 days 14:22:00

In [ ]:
# TODO: CTE, processing time / full time

# TODO: handoff types, can we discover resources, calendars (identify human, system, internal or external resource)

# TODO: separate dataframe for metrics

# Concurrent activities

What's the definition of concurrent activities? If a completion timestamp of one event is equal to a start timestamp of another, should it be concurrent (like it's in https://pm4py.fit.fraunhofer.de/documentation#item-10-21) or sequential?

## Pre-processing: converting lifecycle events (has 1 timestamp and lifecycle attribute) to interval events (has 2 timestamps, start and end)

In [117]:
from pm4py.objects.log.importer.xes import importer as xes_importer
from pm4py.objects.conversion.log import converter as log_converter
from pm4py.objects.log.util import interval_lifecycle

log = xes_importer.apply('data/PurchasingExampleModified.xes')
log_interval = interval_lifecycle.to_interval(log)
# log_interval_enriched = interval_lifecycle.assign_lead_cycle_time(log_interval)
event_log_interval = log_converter.apply(log_interval, variant=log_converter.Variants.TO_DATA_FRAME)
# event_log_interval['start_timestamp'] = event_log_interval['start_timestamp'] + pd.Timedelta('1us')
event_log_interval

parsing log, completed traces ::   0%|          | 0/608 [00:00<?, ?it/s]

,concept:name,org:resource,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,@@startevent_Resource,start_timestamp,time:timestamp,@@duration,case:concept:name,case:variant,case:variant-index,case:creator
0,Create Purchase Requisition,Kim Passa,Create Purchase Requisition,Kim Passa,Create Purchase Requisition,Kim Passa,Create Purchase Requisition,Kim Passa,2011-01-01 00:00:00-05:00,2011-01-01 00:37:00-05:00,2220.0,1,Variant 2,2,Fluxicon Disco
1,Create Request for Quotation,Kim Passa,Create Request for Quotation,Kim Passa,Create Request for Quotation,Kim Passa,Create Request for Quotation,Kim Passa,2011-01-01 05:37:00-05:00,2011-01-01 05:45:00-05:00,480.0,1,Variant 2,2,Fluxicon Disco
2,Analyze Request for Quotation,Karel de Groot,Analyze Request for Quotation,Karel de Groot,Analyze Request for Quotation,Karel de Groot,Analyze Request for Quotation,Karel de Groot,2011-01-01 06:41:00-05:00,2011-01-01 06:55:00-05:00,840.0,1,Variant 2,2,Fluxicon Disco
3,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,2011-01-01 11:43:00-05:00,2011-01-01 12:09:00-05:00,1560.0,1,Variant 2,2,Fluxicon Disco
4,Create Quotation comparison Map,Magdalena Predutta,Create Quotation comparison Map,Magdalena Predutta,Create Quotation comparison Map,Magdalena Predutta,Create Quotation comparison Map,Magdalena Predutta,2011-01-01 12:32:00-05:00,2011-01-01 16:03:00-05:00,12660.0,1,Variant 2,2,Fluxicon Disco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9115,Analyze Purchase Requisition,Heinz Gutschmidt,Analyze Purchase Requisition,Heinz Gutschmidt,Analyze Purchase Requisition,Heinz Gutschmidt,Analyze Purchase Requisition,Heinz Gutschmidt,2011-10-12 18:58:00-05:00,2011-10-12 19:02:00-05:00,240.0,1941,Variant 4,4,Fluxicon Disco
9116,Create Request for Quotation,Francis Odell,Create Request for Quotation,Francis Odell,Create Request for Quotation,Francis Odell,Create Request for Quotation,Francis Odell,2011-10-12 19:06:00-05:00,2011-10-12 19:09:00-05:00,180.0,1941,Variant 4,4,Fluxicon Disco
9117,Analyze Request for Quotation,Karel de Groot,Analyze Request for Quotation,Karel de Groot,Analyze Request for Quotation,Karel de Groot,Analyze Request for Quotation,Karel de Groot,2011-10-14 14:05:00-05:00,2011-10-14 14:18:00-05:00,780.0,1941,Variant 4,4,Fluxicon Disco
9118,Create Purchase Requisition,Tesca Lobes,Create Purchase Requisition,Tesca Lobes,Create Purchase Requisition,Tesca Lobes,Create Purchase Requisition,Tesca Lobes,2011-10-13 06:27:00-05:00,2011-10-13 07:21:00-05:00,3240.0,1949,Variant 3,3,Fluxicon Disco
9119,Analyze Purchase Requisition,Francis Odell,Analyze Purchase Requisition,Francis Odell,Analyze Purchase Requisition,Francis Odell,Analyze Purchase Requisition,Francis Odell,2011-10-13 17:03:00-05:00,2011-10-13 17:09:00-05:00,360.0,1949,Variant 3,3,Fluxicon Disco

## Concurrent activities and its frequencies

In [104]:
from pm4py.statistics.concurrent_activities.pandas import get as concurrent_activities_get

params = {concurrent_activities_get.Parameters.TIMESTAMP_KEY: "time:timestamp", concurrent_activities_get.Parameters.START_TIMESTAMP_KEY: "start_timestamp"}
concurrent_activities = concurrent_activities_get.apply(event_log_interval, parameters=params)
concurrent_activities

{('Analyze Quotation Comparison Map', 'Choose best option'): 413,
 ("Authorize Supplier's Invoice payment", "Release Supplier's Invoice"): 297,
 ("Authorize Supplier's Invoice payment", 'Settle Dispute With Supplier'): 70}

Activities below are considered to be concurrent even though they look like sequential:

In [105]:
event_log_interval[event_log_interval.Activity == 'Authorize Supplier\'s Invoice payment'].head(2)

,concept:name,org:resource,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,@@startevent_Resource,start_timestamp,time:timestamp,@@duration,case:concept:name,case:variant,case:variant-index,case:creator
15,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,2011-01-04 15:13:00-05:00,2011-01-04 15:13:00-05:00,0.0,1,Variant 2,2,Fluxicon Disco
37,Authorize Supplier's Invoice payment,Pedro Alvares,Authorize Supplier's Invoice payment,Pedro Alvares,Authorize Supplier's Invoice payment,Pedro Alvares,Authorize Supplier's Invoice payment,Pedro Alvares,2011-01-06 05:58:00-05:00,2011-01-06 05:58:00-05:00,0.0,2,Variant 20,20,Fluxicon Disco

In [106]:
event_log_interval[event_log_interval.Activity == 'Release Supplier\'s Invoice'].head(1)

,concept:name,org:resource,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,@@startevent_Resource,start_timestamp,time:timestamp,@@duration,case:concept:name,case:variant,case:variant-index,case:creator
14,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,2011-01-04 15:08:00-05:00,2011-01-04 15:13:00-05:00,300.0,1,Variant 2,2,Fluxicon Disco

In [108]:
event_log_interval[event_log_interval.Activity == 'Settle Dispute With Supplier'].head(1)

,concept:name,org:resource,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,@@startevent_Resource,start_timestamp,time:timestamp,@@duration,case:concept:name,case:variant,case:variant-index,case:creator
36,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,2011-01-06 05:38:00-05:00,2011-01-06 05:58:00-05:00,1200.0,2,Variant 20,20,Fluxicon Disco

# Hand-off waste calculation (interval log)

In [109]:
import pandas as pd

# Adjusting time slightly to avoid unnecessary concurrent events
# event_log_interval['start_timestamp'] = event_log_interval['start_timestamp'] + pd.Timedelta('1us')

event_log_interval_by_case = event_log_interval.groupby(by='case:concept:name')
case = event_log_interval_by_case.get_group('10').sort_values(by='start_timestamp')

Case 10

In [110]:
case

,concept:name,org:resource,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,@@startevent_Resource,start_timestamp,time:timestamp,@@duration,case:concept:name,case:variant,case:variant-index,case:creator
172,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,2011-01-02 02:52:00-05:00,2011-01-02 03:43:00-05:00,3060.0,10,Variant 9,9,Fluxicon Disco
173,Create Request for Quotation,Immanuel Karagianni,Create Request for Quotation,Immanuel Karagianni,Create Request for Quotation,Immanuel Karagianni,Create Request for Quotation,Immanuel Karagianni,2011-01-02 10:25:00-05:00,2011-01-02 10:32:00-05:00,420.0,10,Variant 9,9,Fluxicon Disco
174,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,2011-01-02 10:40:00-05:00,2011-01-02 11:40:00-05:00,3600.0,10,Variant 9,9,Fluxicon Disco
175,Analyze Request for Quotation,Francois de Perrier,Analyze Request for Quotation,Francois de Perrier,Analyze Request for Quotation,Francois de Perrier,Analyze Request for Quotation,Francois de Perrier,2011-01-02 15:32:00-05:00,2011-01-02 15:59:00-05:00,1620.0,10,Variant 9,9,Fluxicon Disco
176,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,2011-01-03 12:50:00-05:00,2011-01-03 13:07:00-05:00,1020.0,10,Variant 9,9,Fluxicon Disco
177,Create Quotation comparison Map,Karel de Groot,Create Quotation comparison Map,Karel de Groot,Create Quotation comparison Map,Karel de Groot,Create Quotation comparison Map,Karel de Groot,2011-01-03 13:31:00-05:00,2011-01-03 14:28:00-05:00,3420.0,10,Variant 9,9,Fluxicon Disco
178,Analyze Quotation Comparison Map,Anna Kaufmann,Analyze Quotation Comparison Map,Anna Kaufmann,Analyze Quotation Comparison Map,Anna Kaufmann,Analyze Quotation Comparison Map,Anna Kaufmann,2011-01-03 21:44:00-05:00,2011-01-03 22:05:00-05:00,1260.0,10,Variant 9,9,Fluxicon Disco
179,Choose best option,Nico Ojenbeer,Choose best option,Nico Ojenbeer,Choose best option,Nico Ojenbeer,Choose best option,Nico Ojenbeer,2011-01-03 22:05:00-05:00,2011-01-03 22:05:00-05:00,0.0,10,Variant 9,9,Fluxicon Disco
180,Settle Conditions With Supplier,Karel de Groot,Settle Conditions With Supplier,Karel de Groot,Settle Conditions With Supplier,Karel de Groot,Settle Conditions With Supplier,Karel de Groot,2011-01-03 23:53:00-05:00,2011-01-04 04:31:00-05:00,16680.0,10,Variant 9,9,Fluxicon Disco
181,Create Purchase Order,Karel de Groot,Create Purchase Order,Karel de Groot,Create Purchase Order,Karel de Groot,Create Purchase Order,Karel de Groot,2011-01-04 09:44:00-05:00,2011-01-04 09:52:00-05:00,480.0,10,Variant 9,9,Fluxicon Disco
182,Confirm Purchase Order,Carmen Finacse,Confirm Purchase Order,Carmen Finacse,Confirm Purchase Order,Carmen Finacse,Confirm Purchase Order,Carmen Finacse,2011-01-05 02:49:00-05:00,2011-01-05 02:58:00-05:00,540.0,10,Variant 9,9,Fluxicon Disco
183,Deliver Goods Services,Kiu Kan,Deliver Goods Services,Kiu Kan,Deliver Goods Services,Kiu Kan,Deliver Goods Services,Kiu Kan,2011-01-05 11:48:00-05:00,2011-01-07 01:19:00-05:00,135060.0,10,Variant 9,9,Fluxicon Disco
184,Release Purchase Order,Tesca Lobes,Release Purchase Order,Tesca Lobes,Release Purchase Order,Tesca Lobes,Release Purchase Order,Tesca Lobes,2011-01-07 08:54:00-05:00,2011-01-07 08:55:00-05:00,60.0,10,Variant 9,9,Fluxicon Disco
185,Approve Purchase Order for payment,Karel de Groot,Approve Purchase Order for payment,Karel de Groot,Approve Purchase Order for payment,Karel de Groot,Approve Purchase Order for payment,Karel de Groot,2011-01-09 02:55:00-05:00,2011-01-09 02:56:00-05:00,60.0,10,Variant 9,9,Fluxicon Disco
186,Send Invoice,Karen Clarens,Send Invoice,Karen Clarens,Send Invoice,Karen Clarens,Send Invoice,Karen Clarens,2011-01-10 00:23:00-05:00,2011-01-10 00:23:00-05:00,0.0,10,Variant 9,9,Fluxicon Disco
187,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,2011-01-10 14:45:00-05:00,2011-01-10 14:48:00-05:00,180.0,10,Variant 9,9,Fluxicon Disco
188,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,2011-01-10 15:09:00-05:00,2011-01-10 15:34:00-05:00,1500.0,10,Variant 9,9,Fluxicon Disco
189,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,2011-01-10 15:43:00-05:00,2011-01-10 15:43:00-05:00,0.0,10,Variant 9,9,Fluxicon Disco
190,Pay Invoice,Pedro Alvares,Pay Invoice,Pedro Alvares,Pay Invoice,Pedro Alvares,Pay Invoice,Pedro Alvares,2011-01-10 16:03:00-05:00,2011-01-10 16:16:00-05:00,780.0,10,Variant 9,9,Fluxicon Disco

Concurrent activities in Case 10:

In [111]:
params = {concurrent_activities_get.Parameters.TIMESTAMP_KEY: "time:timestamp", concurrent_activities_get.Parameters.START_TIMESTAMP_KEY: "start_timestamp"}
concurrent_activities = concurrent_activities_get.apply(case, parameters=params)
concurrent_activities

{('Analyze Quotation Comparison Map', 'Choose best option'): 1}

For concurrent activities we use the concept of **enabled timestamp** to calculate the timestamp of completion of concurrent activities. From a set of concurrent activities, the enabled time stamp is the one that ends the latest.

We remove concurrent activities from the case and *add only one with the latest completion timestamp*.

In [81]:
case_without_concurrent_activities = case.copy()

for activities_pair in concurrent_activities:
    concurrent = case[(case['Activity'] == activities_pair[0]) | (case['Activity'] == activities_pair[1])]
    case_without_concurrent_activities.drop(concurrent.index, inplace=True)
    if concurrent.iloc[0]['time:timestamp'] >= concurrent.iloc[1]['time:timestamp']:
        print(f"Adding \"{concurrent.iloc[0]['Activity']}\", dropping \"{concurrent.iloc[1]['Activity']}\"")
        case_without_concurrent_activities = case_without_concurrent_activities.append(concurrent.iloc[0])
    else:
        print(f"Adding \"{concurrent.iloc[1]['Activity']}\", dropping \"{concurrent.iloc[0]['Activity']}\"")
        case_without_concurrent_activities = case_without_concurrent_activities.append(concurrent.iloc[1])

case_without_concurrent_activities.sort_values(by='start_timestamp', inplace=True)
case_without_concurrent_activities.reset_index(drop=True, inplace=True)
case_without_concurrent_activities

Adding "Analyze Quotation Comparison Map", dropping "Choose best option"

,concept:name,org:resource,Activity,Resource,@@startevent_concept:name,@@startevent_org:resource,@@startevent_Activity,@@startevent_Resource,start_timestamp,time:timestamp,@@duration,case:concept:name,case:variant,case:variant-index,case:creator
0,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,2011-01-02 02:52:00-05:00,2011-01-02 03:43:00-05:00,3060.0,10,Variant 9,9,Fluxicon Disco
1,Create Request for Quotation,Immanuel Karagianni,Create Request for Quotation,Immanuel Karagianni,Create Request for Quotation,Immanuel Karagianni,Create Request for Quotation,Immanuel Karagianni,2011-01-02 10:25:00-05:00,2011-01-02 10:32:00-05:00,420.0,10,Variant 9,9,Fluxicon Disco
2,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,Create Purchase Requisition,Esmana Liubiata,2011-01-02 10:40:00-05:00,2011-01-02 11:40:00-05:00,3600.0,10,Variant 9,9,Fluxicon Disco
3,Analyze Request for Quotation,Francois de Perrier,Analyze Request for Quotation,Francois de Perrier,Analyze Request for Quotation,Francois de Perrier,Analyze Request for Quotation,Francois de Perrier,2011-01-02 15:32:00-05:00,2011-01-02 15:59:00-05:00,1620.0,10,Variant 9,9,Fluxicon Disco
4,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,Send Request for Quotation to Supplier,Karel de Groot,2011-01-03 12:50:00-05:00,2011-01-03 13:07:00-05:00,1020.0,10,Variant 9,9,Fluxicon Disco
5,Create Quotation comparison Map,Karel de Groot,Create Quotation comparison Map,Karel de Groot,Create Quotation comparison Map,Karel de Groot,Create Quotation comparison Map,Karel de Groot,2011-01-03 13:31:00-05:00,2011-01-03 14:28:00-05:00,3420.0,10,Variant 9,9,Fluxicon Disco
6,Analyze Quotation Comparison Map,Anna Kaufmann,Analyze Quotation Comparison Map,Anna Kaufmann,Analyze Quotation Comparison Map,Anna Kaufmann,Analyze Quotation Comparison Map,Anna Kaufmann,2011-01-03 21:44:00-05:00,2011-01-03 22:05:00-05:00,1260.0,10,Variant 9,9,Fluxicon Disco
7,Settle Conditions With Supplier,Karel de Groot,Settle Conditions With Supplier,Karel de Groot,Settle Conditions With Supplier,Karel de Groot,Settle Conditions With Supplier,Karel de Groot,2011-01-03 23:53:00-05:00,2011-01-04 04:31:00-05:00,16680.0,10,Variant 9,9,Fluxicon Disco
8,Create Purchase Order,Karel de Groot,Create Purchase Order,Karel de Groot,Create Purchase Order,Karel de Groot,Create Purchase Order,Karel de Groot,2011-01-04 09:44:00-05:00,2011-01-04 09:52:00-05:00,480.0,10,Variant 9,9,Fluxicon Disco
9,Confirm Purchase Order,Carmen Finacse,Confirm Purchase Order,Carmen Finacse,Confirm Purchase Order,Carmen Finacse,Confirm Purchase Order,Carmen Finacse,2011-01-05 02:49:00-05:00,2011-01-05 02:58:00-05:00,540.0,10,Variant 9,9,Fluxicon Disco
10,Deliver Goods Services,Kiu Kan,Deliver Goods Services,Kiu Kan,Deliver Goods Services,Kiu Kan,Deliver Goods Services,Kiu Kan,2011-01-05 11:48:00-05:00,2011-01-07 01:19:00-05:00,135060.0,10,Variant 9,9,Fluxicon Disco
11,Release Purchase Order,Tesca Lobes,Release Purchase Order,Tesca Lobes,Release Purchase Order,Tesca Lobes,Release Purchase Order,Tesca Lobes,2011-01-07 08:54:00-05:00,2011-01-07 08:55:00-05:00,60.0,10,Variant 9,9,Fluxicon Disco
12,Approve Purchase Order for payment,Karel de Groot,Approve Purchase Order for payment,Karel de Groot,Approve Purchase Order for payment,Karel de Groot,Approve Purchase Order for payment,Karel de Groot,2011-01-09 02:55:00-05:00,2011-01-09 02:56:00-05:00,60.0,10,Variant 9,9,Fluxicon Disco
13,Send Invoice,Karen Clarens,Send Invoice,Karen Clarens,Send Invoice,Karen Clarens,Send Invoice,Karen Clarens,2011-01-10 00:23:00-05:00,2011-01-10 00:23:00-05:00,0.0,10,Variant 9,9,Fluxicon Disco
14,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,Release Supplier's Invoice,Karalda Nimwada,2011-01-10 14:45:00-05:00,2011-01-10 14:48:00-05:00,180.0,10,Variant 9,9,Fluxicon Disco
15,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,Settle Dispute With Supplier,Karalda Nimwada,2011-01-10 15:09:00-05:00,2011-01-10 15:34:00-05:00,1500.0,10,Variant 9,9,Fluxicon Disco
16,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,Authorize Supplier's Invoice payment,Karalda Nimwada,2011-01-10 15:43:00-05:00,2011-01-10 15:43:00-05:00,0.0,10,Variant 9,9,Fluxicon Disco
17,Pay Invoice,Pedro Alvares,Pay Invoice,Pedro Alvares,Pay Invoice,Pedro Alvares,Pay Invoice,Pedro Alvares,2011-01-10 16:03:00-05:00,2011-01-10 16:16:00-05:00,780.0,10,Variant 9,9,Fluxicon Disco

## Handoff Identification

In [112]:
handoff = pd.DataFrame(columns=['source_activity', 'source_resource', 'destination_activity', 'destination_resource', 'duration'])

case = case_without_concurrent_activities

resource_changed = case['Resource'] != case.shift(-1)['Resource']
activity_changed = case['Activity'] != case.shift(-1)['Activity']

# because of NaN at the end of the shifted dataframe, we always have True
# resource_changed.iloc[-1] = False
# activity_changed.iloc[-1] = False

# both conditions must be satisfied
handoff_occurred = resource_changed & activity_changed
handoff_occurred

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14    False
15    False
16     True
17     True
dtype: bool

The whole case (without concurrent activities):

In [87]:
case[['Activity', 'Resource', 'start_timestamp', 'time:timestamp', '@@duration']]

,Activity,Resource,start_timestamp,time:timestamp,@@duration
0,Create Purchase Requisition,Esmana Liubiata,2011-01-02 02:52:00-05:00,2011-01-02 03:43:00-05:00,3060.0
1,Create Request for Quotation,Immanuel Karagianni,2011-01-02 10:25:00-05:00,2011-01-02 10:32:00-05:00,420.0
2,Create Purchase Requisition,Esmana Liubiata,2011-01-02 10:40:00-05:00,2011-01-02 11:40:00-05:00,3600.0
3,Analyze Request for Quotation,Francois de Perrier,2011-01-02 15:32:00-05:00,2011-01-02 15:59:00-05:00,1620.0
4,Send Request for Quotation to Supplier,Karel de Groot,2011-01-03 12:50:00-05:00,2011-01-03 13:07:00-05:00,1020.0
5,Create Quotation comparison Map,Karel de Groot,2011-01-03 13:31:00-05:00,2011-01-03 14:28:00-05:00,3420.0
6,Analyze Quotation Comparison Map,Anna Kaufmann,2011-01-03 21:44:00-05:00,2011-01-03 22:05:00-05:00,1260.0
7,Settle Conditions With Supplier,Karel de Groot,2011-01-03 23:53:00-05:00,2011-01-04 04:31:00-05:00,16680.0
8,Create Purchase Order,Karel de Groot,2011-01-04 09:44:00-05:00,2011-01-04 09:52:00-05:00,480.0
9,Confirm Purchase Order,Carmen Finacse,2011-01-05 02:49:00-05:00,2011-01-05 02:58:00-05:00,540.0
10,Deliver Goods Services,Kiu Kan,2011-01-05 11:48:00-05:00,2011-01-07 01:19:00-05:00,135060.0
11,Release Purchase Order,Tesca Lobes,2011-01-07 08:54:00-05:00,2011-01-07 08:55:00-05:00,60.0
12,Approve Purchase Order for payment,Karel de Groot,2011-01-09 02:55:00-05:00,2011-01-09 02:56:00-05:00,60.0
13,Send Invoice,Karen Clarens,2011-01-10 00:23:00-05:00,2011-01-10 00:23:00-05:00,0.0
14,Release Supplier's Invoice,Karalda Nimwada,2011-01-10 14:45:00-05:00,2011-01-10 14:48:00-05:00,180.0
15,Settle Dispute With Supplier,Karalda Nimwada,2011-01-10 15:09:00-05:00,2011-01-10 15:34:00-05:00,1500.0
16,Authorize Supplier's Invoice payment,Karalda Nimwada,2011-01-10 15:43:00-05:00,2011-01-10 15:43:00-05:00,0.0
17,Pay Invoice,Pedro Alvares,2011-01-10 16:03:00-05:00,2011-01-10 16:16:00-05:00,780.0

Handoff identified between the following activities and resources:

In [88]:
case[handoff_occurred][['Activity', 'Resource', 'start_timestamp', 'time:timestamp', '@@duration']]

,Activity,Resource,start_timestamp,time:timestamp,@@duration
0,Create Purchase Requisition,Esmana Liubiata,2011-01-02 02:52:00-05:00,2011-01-02 03:43:00-05:00,3060.0
1,Create Request for Quotation,Immanuel Karagianni,2011-01-02 10:25:00-05:00,2011-01-02 10:32:00-05:00,420.0
2,Create Purchase Requisition,Esmana Liubiata,2011-01-02 10:40:00-05:00,2011-01-02 11:40:00-05:00,3600.0
3,Analyze Request for Quotation,Francois de Perrier,2011-01-02 15:32:00-05:00,2011-01-02 15:59:00-05:00,1620.0
5,Create Quotation comparison Map,Karel de Groot,2011-01-03 13:31:00-05:00,2011-01-03 14:28:00-05:00,3420.0
6,Analyze Quotation Comparison Map,Anna Kaufmann,2011-01-03 21:44:00-05:00,2011-01-03 22:05:00-05:00,1260.0
8,Create Purchase Order,Karel de Groot,2011-01-04 09:44:00-05:00,2011-01-04 09:52:00-05:00,480.0
9,Confirm Purchase Order,Carmen Finacse,2011-01-05 02:49:00-05:00,2011-01-05 02:58:00-05:00,540.0
10,Deliver Goods Services,Kiu Kan,2011-01-05 11:48:00-05:00,2011-01-07 01:19:00-05:00,135060.0
11,Release Purchase Order,Tesca Lobes,2011-01-07 08:54:00-05:00,2011-01-07 08:55:00-05:00,60.0
12,Approve Purchase Order for payment,Karel de Groot,2011-01-09 02:55:00-05:00,2011-01-09 02:56:00-05:00,60.0
13,Send Invoice,Karen Clarens,2011-01-10 00:23:00-05:00,2011-01-10 00:23:00-05:00,0.0
16,Authorize Supplier's Invoice payment,Karalda Nimwada,2011-01-10 15:43:00-05:00,2011-01-10 15:43:00-05:00,0.0
17,Pay Invoice,Pedro Alvares,2011-01-10 16:03:00-05:00,2011-01-10 16:16:00-05:00,780.0

In [90]:
handoff.loc[:, 'source_activity'] = case[handoff_occurred]['Activity']
handoff.loc[:, 'source_resource'] = case[handoff_occurred]['Resource']
handoff.loc[:, 'destination_activity'] = case[handoff_occurred].shift(-1)['Activity']
handoff.loc[:, 'destination_resource'] = case[handoff_occurred].shift(-1)['Resource']
handoff['duration'] = case[handoff_occurred].shift(-1)['start_timestamp'] - case[handoff_occurred]['time:timestamp']

In [93]:
handoff.drop(handoff.tail(1).index, inplace=True)

Handoff with duration:

In [94]:
handoff

,source_activity,source_resource,destination_activity,destination_resource,duration
0,Create Purchase Requisition,Esmana Liubiata,Create Request for Quotation,Immanuel Karagianni,0 days 06:42:00
1,Create Request for Quotation,Immanuel Karagianni,Create Purchase Requisition,Esmana Liubiata,0 days 00:08:00
2,Create Purchase Requisition,Esmana Liubiata,Analyze Request for Quotation,Francois de Perrier,0 days 03:52:00
3,Analyze Request for Quotation,Francois de Perrier,Create Quotation comparison Map,Karel de Groot,0 days 21:32:00
5,Create Quotation comparison Map,Karel de Groot,Analyze Quotation Comparison Map,Anna Kaufmann,0 days 07:16:00
6,Analyze Quotation Comparison Map,Anna Kaufmann,Create Purchase Order,Karel de Groot,0 days 11:39:00
8,Create Purchase Order,Karel de Groot,Confirm Purchase Order,Carmen Finacse,0 days 16:57:00
9,Confirm Purchase Order,Carmen Finacse,Deliver Goods Services,Kiu Kan,0 days 08:50:00
10,Deliver Goods Services,Kiu Kan,Release Purchase Order,Tesca Lobes,0 days 07:35:00
11,Release Purchase Order,Tesca Lobes,Approve Purchase Order for payment,Karel de Groot,1 days 18:00:00
12,Approve Purchase Order for payment,Karel de Groot,Send Invoice,Karen Clarens,0 days 21:27:00
13,Send Invoice,Karen Clarens,Authorize Supplier's Invoice payment,Karalda Nimwada,0 days 15:20:00
16,Authorize Supplier's Invoice payment,Karalda Nimwada,Pay Invoice,Pedro Alvares,0 days 00:20:00